.buttonGroup {
    display: flex;
    justify-content: space-around;
    margin: 1em;
}

.dropdownColor {
    background-color: var(--col-4);
    border: var(--col-4);
    color: var(--col-3);
}

.dropdownColor:hover {
    background-color: var(--col-5);
    border: var(--col-4);
    color: var(--col-3);
}

.noteBody {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    min-height: 85vh;
}

.spaceEvenly {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.success {
    background-color: green;
}

.validateContainer {
    min-width: 100vw;
}

.warning {
    background-color: yellow;
}