.createContainer {
    width: 50%;
    justify-self: center;
}

.createInput {
    width: 50%;
    margin: 1em;
    padding: 1em;
    height: 3em;
    border-radius: 20px;
}

li {
   list-style-type: none; 
}

.margin {
    margin: 1em;
}

.marginBottom {
    margin: 0 0 1em 0;
}

.rows {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.widerContainer {
    width: 80%;
}